<ion-view view-title="Home">

    
  <ion-content class="ionic-content-bg">
      <div class="card">
  <div class="item item-divider">
   Welcome to Demo DSI Mobile App
  </div>
  <div class="item item-text-wrap">
   <a href="#/app/pto
            " class="item item-icon-left">
    <i class="icon ion-home"></i>
    PTO
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-android-time"></i>
   Change of Shift
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-android-sad"></i>
   Sick Leave
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
     Holiday Calender
  </a>
  </div>
  <div class="item item-divider">
   Select any one option
  </div>
</div>
    </ion-content>
</ion-view>
