<ion-view view-title="PTO Form">
  <ion-content class="ionic-content-bg">
    <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Title</span>
    <input type="text">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Start Date</span>
    <input type="date">
  </label>
        <label class="item item-input item-floating-label">
    <span class="input-label">End Date</span>
    <input type="date">
  </label>
        <label class="item item-input item-floating-label">
    <span class="input-label">Description</span>
    <input type="text">
  </label>
        <a href="/app/pto-submit" class="button button-block button-positive">
    Submit
</a>
       
</div>
   </ion-content>
</ion-view>